@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

:root {
    --primary-color:  rgba(33, 243, 149, 0.5);
    --secondary-color: rgba(183, 185, 184, 0.5);
    --on-primary: #000;
    --on-secondary: #000;
    --background:whitesmoke;
    --background-alt: white;
    --box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    --border: none;
  }
  
  [data-theme="dark"] {
    --primary-color: rgba(248, 109, 165, 0.8);
    --secondary-color: rgba(221, 221, 221, 0.7);
    --on-primary: #FFF;
    --background: #060910;
    --background-alt: #0E1218;
    --box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    --border: 1px solid #30363D;
  }

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    max-height: 100vh;
    background-color: var(--background);
    /* background: url(./img/fiber-dark.svg); */
    font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* padding: 5vh 8vw; */
}

.content-wrapper {
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Merriweather', serif;
    font-size: 4.5em;
    font-weight: 500;
    margin-bottom: 0;
    color: var(--on-primary);
}

.sub-header {
    font-family: 'Merriweather', serif;
    font-weight: 500;
    font-size: 2.2em;
}

p {
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.4;
    max-width: 24em;
    color: var(--on-primary);
}

a {
    text-decoration: none;
    color: var(--on-primary);
    position: relative;
    cursor: pointer;
}

a:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 60%;
    left: -0.1em;
    right: -0.1em;
    bottom: 0;
    transition: top 200ms cubic-bezier(0, 0.8, 0.13, 1);
    background-color: var(--primary-color);
}

a:hover:after {
    top: 0%;
}

.explore-portfolio {
    margin-left: 10px;
    background-color: var(--primary-color);
    /* background-color: rgba(248, 109, 165, 0.8); */
    color: var(--on-primary);
    font-size: 1.6em;
    font-weight: 500;
    line-height: 1.4;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: var(--box-shadow);
}

.contact-me {
    margin-left: 10px;
    background-color: var(--secondary-color);
    color: var(--on-primary);
    font-size: 1.6em;
    font-weight: 500;
    line-height: 1.4;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: var(--box-shadow);
}

.explore-portfolio:hover {
    filter:brightness(140%);
    transform: scale(1.02);
    outline: none;
    border: none;
}

.contact-me:hover {
    filter: brightness(120%);
    transform: scale(1.02);
    outline: none;
    border: none;
}

.explore-portfolio:active {
    transform: scale(0.98);
    outline: none;
    border: none;
}

.contact-me:active {
    transform: scale(0.98);
    outline: none;
    border: none;
}

.right-wrapper {
    margin-top: 50px;
    display: inline-block;
    height: 600px;
    width: 600px;
}

.right-wrapper img {
    max-width: 100%;
}

.dark {
    -webkit-filter: invert(100%);
    filter: invert(100%);
}


section {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home-splash {
      background-color: var(--background);
  }

  .email-display {
    display: none;
  }
  .portfolio-display {
    display: none;
  }

  .dark-light-icon {
      color: var(--on-primary);
  }
  .project-wrapper {
    width: auto;
    max-width: 650px;
    z-index: 1;
    opacity: 1;
    padding: 20px 50px 20px 50px;
    background-color: var(--background-alt);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    border: var(--border);
  }

  .stack-wrapper {
      display: flex;
  }

  .stack {
      margin-right: 10px;
      padding: 5px;
      color: var(--on-primary);
      background-color: var(--secondary-color);
      border-radius: 10px;
      box-shadow: var(--box-shadow);
  }

  .intro-header {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 1.4em;
    margin-bottom: -1em;
    margin-block-end: 0;
    margin-block-start: 0;
}


.code {
    margin-left: 30px;
}

.live {
    margin-left: 30px;
}

.social-icons {
    padding: 20px;
    color: var(--on-primary);
    background-color: var(--background);
    font-size: 100px;
    margin-right: 50px;
    cursor: pointer;
  }

  .social:hover {
    color: var(--primary-color);
  }

  /* Dark Mode Toggle */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    z-index: 100;
    position: absolute;
    right: 25px;
    top: 30px;
    padding: 5px;
    /* background-color: whitesmoke; */
  }
  
  .theme-switch-wrapper span {
    margin-right: 10px;
    font-size: 1rem;
  }
  
  /* .toggle-text {
    position: relative;
    top: -4px;
    right: 5px;
    color: var(--on-background);
  } */
  
  .theme-switch {
    display: inline-block;
    height: 34px;
    position: relative;
    width: 60px;
  }
  
  .theme-switch input {
    display: none;
  }

  .slider {
    background: var( --primary-color);
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
  }
  
  .slider::before {
    background: #fff;
    bottom: 4px;
    content: "";
    height: 26px;
    left: 4px;
    position: absolute;
    transition: 0.4s;
    width: 26px;
  }
  
  input:checked + .slider {
    background: var(--primary-color);
  }
  
  input:checked + .slider::before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round::before {
    border-radius: 50%;
  }
  
  .fas {
    font-size: 30px;
    margin-right: 5px;
  }

  .back-up-button {
    height: 80px;
    width: auto;
    position: absolute;
    bottom: 50px;
    font-size: 80px;
    color: var(--on-primary);
    cursor: pointer;
  }

  .fa-angle-double-up {
    font-size: 80px;
  }

  .fa-angle-double-up:hover {
    color: var(--primary-color);
  }